/* Estilos para telas menores */
@media (max-width: 768px) {
    .swiper-container {
      width: 100%;
      flex-direction: column;
    }
  }
  
  /* Estilos para telas maiores */
  @media (min-width: 768px) {
    .swiper-container {
      width: 70%;
      margin: 0 auto; /* Centralizar o carrossel */
    }
  }
  